<div class="container" style="padding-top: 10px;">

    <h1><i class="fa fa-server"></i> 资讯
        <small>View information about the Ethereum Blockchain</small>
    </h1>
    <div id="chain" class="blockdiv">
        <table class="table table-striped">
            <tbody><tr>
                <th colspan="2" style="text-align:left">概况 Summary</th>
            </tr>
            <tr>
                <td>当前区块 Current Block</td>
                <td><a href="./#/block/{{ blockNum }}">{{ blockNum }}</a></td>
            </tr>
            <tr>
                <td>区块耗时 Block Time</td>
                <td>
                    {{ blocktime }} seconds since block <a href="./#/block/{{ blockNum - 1 }}">{{ blockNum - 1 }}</a><br>
                </td>
            </tr>
            <tr>
                <td>区块平均耗时 Block Time Averages</td>
                <td><table style="width:100%"><tbody><tr><td>
                    {{ blocktimeAverage1 }} seconds for the past 100 blocks<br>
                    {{ blocktimeAverage2 }} seconds for the past 1,000 blocks
                    </td><td>
                    {{ blocktimeAverage3 }} seconds for the past 10,000 blocks<br>
                    {{ blocktimeAverage4 }} seconds for the past 100,000 blocks
                    </td></tr><tr><td>
                    {{ blocktimeAverageAll }} seconds for all {{blockNum}} blocks
                    </td></tr></tbody></table>
                </td>
            </tr>
            <tr>
                <td>难度值 Current Difficulty</td>
                <td>{{ difficulty_formatted }}</td>
            </tr>
            <tr>
                <td>难度值 Total Difficulty</td>
                <td>{{ totalDifficulty_formatted }}</td>
            </tr>
            <tr>
                <td>限制 Gas Limit</td>
                <td>{{ gasLimit }}</td>
            </tr>
            <tr>
                <td>时间戳 Time</td>
                <td>{{ time }}</td>
            </tr>
            <tr>
                <td>连接至ETH网络 Connected to ETH Network</td>
                <td>{{ isConnected }}</td>
            </tr>
            <tr>
                <td>API／客户端版本 API/Client Version</td>
                <td>{{ versionApi }} - {{ versionClient }}</td>
            </tr>
          </tbody>
      </table>
      <hr>
    </div>

</div>
