<div class="container">
  <div class="row">
    <div class="col-md-12" align="center">
    <form class="navbar-form" ng-controller="processRequestCtrl" ng-submit="processRequest()" name="search_form" role="search">
        <div class="input-group">
            <input type="text" placeholder="交易哈希／地址／区块编号#" name="requestType" required ng-model="ethRequest"  class="form-control searchimain">
            <div class="input-group-btn">
                <button class="btn btn-primary btn-bluem" type="submit"><i class="fa fa-search"></i> Search</button>
            </div>
        </div>
    </form></div></div>
</div>
<div class="container" style="padding-top: 20px;">
  <div class="row">
      <div class="col-md-2" align="center">
          <div class="boxi">当前区块 Current Block:<br/>{{ currentBlockNumber }}</div>
      </div>
      <div class="col-md-2" align="center">
          <div class="boxi">当前市值 ETH/USD Price:<br/>{{ ethprice || "Loading.." }}</div>
      </div>
      <div class="col-md-2" align="center">
          <div class="boxi">限制 Gas Limit:<br/>{{ gasLimit || "Loading.." }}</div>
      </div>
      <div class="col-md-2" align="center">
          <div class="boxi">区块耗时 Block Time:<br/>{{ blocktime?blocktime+" second(s)":false || "Loading.." }}</div>
      </div>
      <div class="col-md-2" align="center">
          <div class="boxi">难度值 Current Diff:<br/>{{ difficulty || "Loading.." | diffFormat }}</div>
      </div>
      <div class="col-md-2" align="center">
          <div class="boxi">哈希率 Hashrate:<br/>{{ hashrate|| "Loading.." | hashFormat }}</div>
      </div>
  </div>
  <h1><i class="fa fa-cubes"></i>最新区块 Recent Blocks <small>Most Recent Blocks in the Ethereum Network</small></h1><br />
  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-inverse">
            <td>
                <strong>区块 Block #</strong>
            </td>
            <td>哈希 Block Hash</td>
            <td>难度值 Difficulty</td>
            <td>矿工 Miner</td>
            <td>
                大小 Size
            </td>
            <td>
                时间 Age
            </td>
            <td>
                交易数 # of TXs
            </td>
            <td>
                用量 Gas Used
            </td>
        </thead>
        <tbody>
            <tr ng-repeat="block in blocks" class="animated fadeIn">
                <td>
                    <a href="/#/block/{{ block.number }}">
                        <span class="btn btn-sm btn-primary"><i class="fa fa-cube"></i> {{ block.number }}</span>
                    </a>
                </td>
                <td><a href="/#/block/{{ block.hash }}"><span class="btn btn-sm btn-success">{{ block.hash | truncate : 12 }}</span></a></td>
                <td style="vertical-align:middle;">{{ block.difficulty | diffFormat }}</td>
                <td style="vertical-align:middle;"><a href="/#/address/{{ block.miner }}">{{ block.miner }}</a></td>
                <td style="vertical-align:middle;">
                    {{ block.size | sizeFormat }}
                </td>
                <td style="vertical-align:middle;" n-tooltips title="{{ block.timestamp * 1000 | date:'medium' }}">
                    {{ block.timestamp * 1000 | timestampAge }}
                </td>
                <td style="vertical-align:middle;">
                    {{ block.transactions.length }}
                </td>
                <td style="vertical-align:middle;">
                    {{ block.gasUsed | gasFormat }}
                </td>
            </tr>
        </tbody>
    </table>
  </div>
    <h1><i class="fa fa-exchange"></i>最新交易记录 Recent Transactions <small>Transactions in the Ethereum Network</small></h1><br />
    <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-inverse">
            <td>
                <strong>哈希 TX Hash</strong>
            </td>
            <td>区块 Block #</td>
            <td>发送方 From</td>
            <td>接收方 To
            </td>
            <td>
                用量 Gas Used
            </td>
            <td>
                值 Value
            </td>
        </thead>
        <tbody>
            <tr ng-repeat="tx in recenttransactions track by $index-async" class="animated fadeIn">

              <td style="vertical-align:middle;"><a href="/#/tx/{{ tx.hash }}">{{ tx.hash || "" | truncate : 45 }}</a></td>
                <td style="vertical-align:middle;">
                    <a href="/#/block/{{ tx.blockNumber }}">
                        {{ tx.blockNumber || "" }}
                    </a>
                </td>
                <td style="vertical-align:middle;"><a href="/#/address/{{ tx.from }}">{{ tx.from || "" | truncate : 20 }}</a></td>
                <td style="vertical-align:middle;"><a href="/#/address/{{ tx.to }}">{{ tx.to || "" | truncate : 20 }}</a></td>
                <td style="vertical-align:middle;">
                    {{ tx.gas | gasFormat }}
                </td>
                <td style="vertical-align:middle;">
                    {{ tx.value | BigNum }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
