<div class="container" style="padding-top:5px;">

    <h1><i class="fa fa-exchange"></i>交易 Transaction
        <small>View information about an Ethereum transaction</small>
    </h1>

    <div id="tx-97785883" class="txdiv">
      <div class="table-responsive">
        <table class="table table-striped" cellpadding="0" cellspacing="0" style="padding:0px;float:left;margin:0px;width:100%">
            <tbody>
            <tr>
                <th colspan="3" align="left"><a class="hash-link" href="./#/tx/{{txId}}">{{txId}}</a> <span class="pull-right"></span></th>
            </tr>
            <tr>
                <td style="text-align:center;vertical-align:middle;">
                    <a href="./#/address/{{from}}">{{from}}</a>
                    <br>
                </td>
                <td width="48px" class="" style="text-align:center;vertical-align:middle;">
                    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
                </td>
                <td style="text-align:center;vertical-align:middle;">
                    <a href="./#/address/{{to}}">{{to}}</a>
                    <span class="pull-right">
                        <span>{{ethValue}} ETH</span>
                    </span>
                    <br>
                </td>
            </tr>
            </tbody>
        </table>
      </div>
        <div style="padding-bottom:30px;width:100%;text-align:right;clear:both">   <!--TODO no style tags...-->
            <button class="btn btn-primary">{{conf}} Confirmations</button>
            <button class="btn btn-success cb"><span>{{ethValue}} ETH</span></button>
        </div>
        <div class="table-responsive">
        <table class="table table-striped">
            <tbody><tr>
                <th colspan="2" style="text-align:left">概况 Summary</th>
            </tr>
            <tr>
                <td>哈希 Block Hash</td>
                <td><a href="./#/block/{{blockHash}}">{{blockHash}}</a></td>
            </tr>
            <tr>
                <td>时间戳 Received Time</td>
                <td>
                    {{time * 1000 | date:'medium'}}
                </td>
            </tr>
            <tr>
                <td>所在区块 Included In Block</td>
                <td>
                    <a href="./#/block/{{blockNumber}}"><button class="btn btn-sm btn-primary">{{blockNumber}}</button></a>
                </td>
            </tr>
            <tr>
                <td>用量 Gas Used</td>
                <td>{{gas | gasFormat}}</td>
            </tr>
            <tr>
                    <td>方法</td>
                    <td>{{method}}</td>
                </tr>
            <!-- <tr>
                <td>数据 Data</td>
                <td><textarea  class="input-data-textarea" readonly>{{input}}</textarea></td>
            </tr> -->
            <tr>
                    <td>数据 Data</td>
                    <td>
                            <div class="md-padding" layout="row" layout-fill layout-wrap layout-align="start start">

                                    <md-list-item ng-repeat="i in input" draggable="true" flex-xs="100" flex-sm="50" flex-md="33"
                                                  flex-gt-md="25" class="md-3-line">
                            
                                
                                        <div class="md-list-item-text">
                                            <h3> {{i.name}} </h3>
                                            <h4> {{i.value}} </h4>
                                            
                                        </div>
                                
                                        <md-divider md-inset></md-divider>
                                
                                    </md-list-item>
                                
                            </div>
                    </td>
                </tr>>
            <!-- <tr>
                <td>Gas Price</td>
                <td>{{gasPrice}}</td>
            </tr>
            <tr>
                <td>Transaction Confirmations</td>
                <td><span style="color: #08d410; font-weight: bold;">{{conf}}</span></td>
            </tr>
            <tr>
                <td>Number of transactions made by the sender prior to this one</td>
                <td>{{nonce}}</td>
            </tr>
            <tr>
                <td>Transaction price</td>
                <td>{{txprice}}</td>
            </tr> -->
           


            </tbody>
        </table>
      </div>
    </div>

</div>
